body {
  background-color: #ffffff;
  margin: 50px 100px 25px 100px;
  align-content: center;
}

/* .header Ruby {
  color: #7f1010;
}
.Savings,
.Loans,
.Business,
.Rent,
.FAQs,
.About,
.Us {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
  list-style-type: none;
}
.p1l1 #h3 {
  color: #7f1010;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.header {
  height: 100px;
  /* width: 100%; */
  padding: 0 8%;
  background-color: white;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 60px;
}

.nav-links {
  padding: 28px 00;
}

.nav-links li {
  display: inline-block;
  margin: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 10px 0;
}

.button {
  /* margin-left: 1125px; */
  width: 112px;
  height: 30px;
  padding-top: 5px;

  background-color: #7f1010;
  border: solid;
  color: white;
  border-radius: 12px;
  text-align: center;
}
.inactive {
  /* margin-left: 1125px; */
  width: 112px;
  border: solid 1px;
  color: black;
  border-radius: 12px;
  text-align: center;
}

.tagline {
  /* vertical-align: middle; */
  display: flex;
  align-items: center;
}
